#frame {
    max-width:  100%;
}

.choice-box, h2 {
    text-align:  center;
}
h2 {
    font-size:30px;
	color:#000;
     margin:  20px 0;
}
p.pager {
    margin:  5px 0;
     font:  700 1em/1em"Helvetica Neue",  Helvetica,  Arial,  sans-serif;
     color:  #999;
}
#choice-block {
    display:  block;
     list-style:  none;
     margin:  0;
     padding:  0;
}
#submitbutton {
    padding-left:  10px;
     padding-right:  10px;
     border-radius:  1px;
     color:  #fff;
     font-size:  25px;
     border:  none;
     -webkit-box-shadow:  0 0 15px rgba(0,  0,  0,  .1);
     box-shadow:  0 0 15px rgba(0,  0,  0,  .1);
     -webkit-transition:  all .2s ease-in-out;
     transition:  all .2s ease-in-out;
     outline:  0;
     background-color:  #36F;
}
#submitbutton:active {
    box-shadow:  0 9px 10px rgba(0,  0,  0,  .4);
     transition:  all .2s ease-in-out;
     outline:  0;
}
#explanation {
    margin:  0 auto;
     width:  100%}
.choice-box {
    display:  block;
     margin:  8px auto;
     padding:  10px 0;
     border:  1px solid #666;
     cursor:  pointer;
     border-radius:  1px;
}
.correct-ans {
    font-size:  40px;
     color:  #0C0;
}
.incorrect-ans {
    font-size:  40px;
     color:  #F36;
}
.right-ansmain{
  font-size:  40px;
  margin-bottom:10px;
}
.right-answris{
   color:  #0C0;
   font-weight:900;
}
.modal-content{position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
	border:none !important;
    border-radius: 0px !important;
    outline: 0;
	 -webkit-box-shadow: rgba(0,0,0,0.2) 0 3px 6px 0 !important;
    box-shadow: rgba(0,0,0,0.2) 0 3px 6px 0 !important;
 }
 
 input[type=radio] {
    display:none; 
    margin:10px;
}

input[type=radio] + label {
    display:inline-block;
    margin:-2px;
	width:100%;
	padding:10px;
	border:1px solid #ddd;
	margin-bottom:10px;
	cursor:pointer;
}
input[type=radio] + label:hover{ border:1px solid #000000;}
input[type=radio]:checked + label { 
   background-image: none;
    background-color:#0C0;
	color:#fff;
	border:1px solid #0C0 !important;
}


.worngans{ background-color:#F36;color:#fff; border:1px solid #F36 !important;}

@media screen and (max-width: 767px) {
.mobile-quizzes{ display:none; visibility: hidden;}
}